{
    "openapi": "3.0.1",
    "info": {
      "title": "REST Services",
      "description": "Order Manager helps you keep track of, and manage your products, inventory, and orders, so that you can focus on growing your business.<br><br><b>Need Help?</b><br>Visit our Help Center to learn about <a href='https://help.extensiv.com/en_US/om-api/getting-started-with-the-api' target='_blank'>getting started</a> and our <a href='https://help.extensiv.com/om-api/apiapp-store-faq' target='_blank'>API/App Store FAQs</a>. ",
      "license": "",
      "version": "1.0",
      "x-logo": {
        "url": ""
      }
    },
    "servers": [
      {
        "url": "//api.skubana.com/"
      }
    ],
    "tags": [
      {
        "name": "Analytics",
        "description": "Analytics Api Controller"
      },
      {
        "name": "Application Properties",
        "description": "Application Properties Api Controller"
      },
      {
        "name": "FBA Inbound",
        "description": "Fba Inbound Api Controller"
      },
      {
        "name": "Global",
        "description": "Global Api Controller"
      },
      {
        "name": "Inventory",
        "description": "Inventory Api Controller V 1"
      },
      {
        "name": "Inventory Value",
        "description": "Inventory Value Api Controller V 1"
      },
      {
        "name": "Listings",
        "description": "Listing Api Controller"
      },
      {
        "name": "Order",
        "description": "Order Api Controller V 1"
      },
      {
        "name": "Organizations",
        "description": "Organization Permissions Controller"
      },
      {
        "name": "Product",
        "description": "Product Api Controller V 1"
      },
      {
        "name": "Purchase Order",
        "description": "Purchase Order Api Controller"
      },
      {
        "name": "Returns",
        "description": "Rma Api Controller V 1"
      },
      {
        "name": "Shipment",
        "description": "Shipment Api Controller V 1"
      },
      {
        "name": "Stock Transfer",
        "description": "Inventory Stock Transfer Api Controller"
      },
      {
        "name": "Vendor",
        "description": "Vendor Api Controller"
      }
    ],
    "paths": {
      "/v1.1/inventory": {
        "put": {
          "tags": [
            "Inventory"
          ],
          "summary": "Create product stocks",
          "description": "Create product stocks and locations",
          "operationId": "putInventoryv11UsingPUT",
          "parameters": [
            {
              "name": "notes",
              "in": "query",
              "description": "notes",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "putInventoryList",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/putInventory"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "putInventoryList"
        }
      },
      "/v1.1/inventory/add": {
        "post": {
          "tags": [
            "Inventory"
          ],
          "summary": "Add product stock quantity",
          "description": "Add product stock quantity",
          "operationId": "postInventoryAddv11UsingPOST",
          "requestBody": {
            "description": "postInventoryAdd",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PostInventoryQuantityAddDto"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "postInventoryAdd"
        }
      },
      "/v1.1/inventory/adjust": {
        "post": {
          "tags": [
            "Inventory"
          ],
          "summary": "Update product stock quantities",
          "description": "Adjust product stock quantities, will override existing quantities. <br/><br/>This endpoint should be used carefully as it might override pending activity. It is recommended to use /inventory/add and /inventory/remove instead.",
          "operationId": "postInventoryAdjustv11UsingPOST",
          "requestBody": {
            "description": "postInventoryAdjust",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PostInventoryAdjustDto"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "postInventoryAdjust"
        }
      },
      "/v1.1/inventory/remove": {
        "post": {
          "tags": [
            "Inventory"
          ],
          "summary": "Remove product stock quantity",
          "description": "Remove product stock quantity",
          "operationId": "postInventoryRemovev11UsingPOST",
          "requestBody": {
            "description": "postInventoryRemove",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PostInventoryQuantityRemoveDto"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "postInventoryRemove"
        }
      },
      "/v1.1/inventory/updatestocklocation": {
        "post": {
          "tags": [
            "Inventory"
          ],
          "summary": "Update Stock Location Name",
          "description": "Update Stock Location Name",
          "operationId": "updateStockLocationUsingPOST",
          "requestBody": {
            "description": "stockLocationDtos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/inventory"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "stockLocationDtos"
        }
      },
      "/v1.1/orders": {
        "get": {
          "tags": [
            "Order"
          ],
          "summary": "Retrieve orders",
          "description": "Retrieve orders",
          "operationId": "getOrdersUsingGET_1",
          "parameters": [
            {
              "name": "createdDateFrom",
              "in": "query",
              "description": "createdDateFrom",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "createdDateTo",
              "in": "query",
              "description": "createdDateTo",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "external",
              "in": "query",
              "description": "external",
              "allowEmptyValue": false,
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "limit",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 100
              }
            },
            {
              "name": "modifiedDateFrom",
              "in": "query",
              "description": "modifiedDateFrom",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "modifiedDateTo",
              "in": "query",
              "description": "modifiedDateTo",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "orderDateFrom",
              "in": "query",
              "description": "orderDateFrom",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "orderDateTo",
              "in": "query",
              "description": "orderDateTo",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "orderId",
              "in": "query",
              "description": "orderId",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            {
              "name": "orderNumber",
              "in": "query",
              "description": "orderNumber (Note: performs a 'prefix' search; a wildcard will be automatically appended at the end)",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "page",
              "in": "query",
              "description": "page",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 1
              }
            },
            {
              "name": "paymentDateFrom",
              "in": "query",
              "description": "paymentDateFrom",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "paymentDateTo",
              "in": "query",
              "description": "paymentDateTo",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "productId",
              "in": "query",
              "description": "productId",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            {
              "name": "salesChannelId",
              "in": "query",
              "description": "salesChannelId",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 0
              }
            },
            {
              "name": "shipDateFrom",
              "in": "query",
              "description": "shipDateFrom",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "shipDateTo",
              "in": "query",
              "description": "shipDateTo",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "status",
              "in": "query",
              "description": "status",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "UNRESOLVED",
                    "AWAITING_PAYMENT",
                    "AWAITING_SHIPMENT",
                    "AWAITING_MC_FULFILLMENT",
                    "AWAITING_3PL_EXPORT",
                    "AWAITING_DROPSHIP",
                    "PENDING_FULFILLMENT",
                    "SHIPPED",
                    "CANCELLED",
                    "ON_HOLD",
                    "SKU_UNPROCESSED",
                    "PROCESSED_OUTSIDE_OF_SKUBANA",
                    "INBOUND_SHIPMENT_PLAN"
                  ]
                },
                "enum": [
                  "UNRESOLVED",
                  "AWAITING_PAYMENT",
                  "AWAITING_SHIPMENT",
                  "AWAITING_MC_FULFILLMENT",
                  "AWAITING_3PL_EXPORT",
                  "AWAITING_DROPSHIP",
                  "PENDING_FULFILLMENT",
                  "SHIPPED",
                  "CANCELLED",
                  "ON_HOLD",
                  "SKU_UNPROCESSED",
                  "PROCESSED_OUTSIDE_OF_SKUBANA",
                  "INBOUND_SHIPMENT_PLAN"
                ]
              }
            },
            {
              "name": "unresolvedStatus",
              "in": "query",
              "description": "unresolvedStatus",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "RESOLVED",
                    "MISSING_ORDER_INFO",
                    "MISSING_PRODUCT_INFO",
                    "MISSING_FULFILLMENT_SOURCE",
                    "MISSING_PICKING_LOCATION",
                    "ORDERBOT_CONFLICT",
                    "OUT_OF_STOCK",
                    "MULTIPLE_WAREHOUSES",
                    "FBA_UNRESOLVED",
                    "MISSING_VENDOR_PRODUCT"
                  ]
                },
                "enum": [
                  "RESOLVED",
                  "MISSING_ORDER_INFO",
                  "MISSING_PRODUCT_INFO",
                  "MISSING_FULFILLMENT_SOURCE",
                  "MISSING_PICKING_LOCATION",
                  "ORDERBOT_CONFLICT",
                  "OUT_OF_STOCK",
                  "MULTIPLE_WAREHOUSES",
                  "FBA_UNRESOLVED",
                  "MISSING_VENDOR_PRODUCT"
                ]
              }
            },
            {
              "name": "warehouseId",
              "in": "query",
              "description": "warehouseId",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": 0
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful retrieval of orders",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/order"
                    }
                  }
                }
              }
            },
            "422": {
              "description": "Invalid parameter specified",
              "content": {}
            }
          },
          "deprecated": false
        },
        "post": {
          "tags": [
            "Order"
          ],
          "summary": "Update orders",
          "description": "Update orders",
          "operationId": "postOrderUsingPOST_1",
          "requestBody": {
            "description": "orderDtoList",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/postOrder"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "orderDtoList"
        }
      },
      "/v1.1/orders/channelpurchases": {
        "get": {
          "tags": [
            "Order"
          ],
          "summary": "Retrieve channel purchases",
          "description": "Retrieve channel purchases",
          "operationId": "getChannelPurchasesUsingGET_1",
          "parameters": [
            {
              "name": "orderId",
              "in": "query",
              "description": "orderId",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            {
              "name": "orderNumber",
              "in": "query",
              "description": "orderNumber",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "salesChannelId",
              "in": "query",
              "description": "salesChannelId",
              "required": true,
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 0
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful retrieval of channel purchases",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/channelPurchase"
                    }
                  }
                }
              }
            }
          },
          "deprecated": false
        }
      },
      "/v1.1/orders/customfielddefinitions": {
        "get": {
          "tags": [
            "Order"
          ],
          "summary": "Retrieve custom field definitions",
          "description": "Retrieve custom field definitions",
          "operationId": "getCustomFieldDefinitionsUsingGET",
          "parameters": [
            {
              "name": "limit",
              "in": "query",
              "description": "limit",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 20
              }
            },
            {
              "name": "page",
              "in": "query",
              "description": "page",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 1
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/getOrderCustomFieldDef"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "put": {
          "tags": [
            "Order"
          ],
          "summary": "Create custom fields definitions",
          "description": "Create custom fields definitions",
          "operationId": "putCustomFieldDefinitionsUsingPUT",
          "requestBody": {
            "description": "putCustomFieldDefinitions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/putOrderCustomFieldDefinitions"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "putCustomFieldDefinitions"
        },
        "delete": {
          "tags": [
            "Order"
          ],
          "summary": "Delete custom field definitions",
          "description": "Delete custom field definitions",
          "operationId": "deleteCustomFieldDefsUsingDELETE",
          "requestBody": {
            "description": "deleteCustomFieldDefs",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/deleteOrderCustomFieldDefs"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/getOrderCustomFieldDef"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "deleteCustomFieldDefs"
        }
      },
      "/v1.1/orders/{orderId}": {
        "get": {
          "tags": [
            "Order"
          ],
          "summary": "Retrieve order",
          "description": "Retrieve an order by its identifier",
          "operationId": "getOrderUsingGET_1",
          "parameters": [
            {
              "name": "orderId",
              "in": "path",
              "description": "orderId",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": 0
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful retrieval of order",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/order"
                  }
                }
              }
            },
            "404": {
              "description": "Order not found",
              "content": {}
            }
          },
          "deprecated": false
        }
      },
      "/v1.1/orders/{orderId}/customfieldvalues": {
        "get": {
          "tags": [
            "Order"
          ],
          "summary": "Retrieve custom field values",
          "description": "Retrieve custom field values",
          "operationId": "getCustomFieldValuesByOrderIdUsingGET",
          "parameters": [
            {
              "name": "orderId",
              "in": "path",
              "description": "orderId",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/getOrderCustomFieldValue"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "put": {
          "tags": [
            "Order"
          ],
          "summary": "Create custom field",
          "description": "Create custom field values",
          "operationId": "putCustomFieldValuesUsingPUT",
          "parameters": [
            {
              "name": "orderId",
              "in": "path",
              "description": "orderId",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "requestBody": {
            "description": "putCustomFieldValues",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/putOrderCustomFieldValues"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/getOrderCustomFieldValue"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "putCustomFieldValues"
        },
        "delete": {
          "tags": [
            "Order"
          ],
          "summary": "Delete custom field values",
          "description": "Delete custom field values",
          "operationId": "deleteCustomFieldValuesUsingDELETE",
          "parameters": [
            {
              "name": "orderId",
              "in": "path",
              "description": "orderId",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "requestBody": {
            "description": "deleteCustomFieldValues",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/deleteCustomFieldValues"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/getOrderCustomFieldValue"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "deleteCustomFieldValues"
        }
      },
      "/v1.1/orders/{orderId}/orderitems": {
        "put": {
          "tags": [
            "Order"
          ],
          "summary": "Add order items",
          "description": "Add order items. Only certain sales channel types support adding items. This endpoint allows only one request at a time. A new request will not be accepted until the previous one finishes",
          "operationId": "putOrderItemUsingPUT",
          "parameters": [
            {
              "name": "orderId",
              "in": "path",
              "description": "orderId",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": 0
              }
            }
          ],
          "requestBody": {
            "description": "putOrderItems",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/putOrderItem"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BulkSingleEntityApiResponse"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "putOrderItems"
        },
        "post": {
          "tags": [
            "Order"
          ],
          "summary": "Update order items",
          "description": "Update fields for order items in an order. Only certain sales channel types support edits on quantity, unit price, and discount. This endpoint allows only one request at a time. A new request will not be accepted until the previous one finishes",
          "operationId": "postOrderItemsUsingPOST",
          "parameters": [
            {
              "name": "orderId",
              "in": "path",
              "description": "orderId",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": 0
              }
            }
          ],
          "requestBody": {
            "description": "postOrderItems",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/postOrderItem"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successfully updated the order items",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BulkSingleEntityApiResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Invalid request body",
              "content": {}
            },
            "404": {
              "description": "Invalid parameter specified",
              "content": {}
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "postOrderItems"
        },
        "delete": {
          "tags": [
            "Order"
          ],
          "summary": "Delete order items",
          "description": "Delete order items. Only certain sales channel types support deleting order items. This endpoint allows only one request at a time. A new request will not be accepted until the previous one finishes",
          "operationId": "deleteOrderItemsUsingDELETE",
          "parameters": [
            {
              "name": "orderId",
              "in": "path",
              "description": "orderId",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": 0
              }
            },
            {
              "name": "orderItemIds",
              "in": "query",
              "description": "orderItemIds",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BulkSingleEntityApiResponse"
                  }
                }
              }
            }
          },
          "deprecated": false
        }
      },
      "/v1.1/organizations/permissions": {
        "put": {
          "tags": [
            "Organizations"
          ],
          "summary": "Put Organization Permissions.",
          "operationId": "setOrganizationPermissionsUsingPUT",
          "requestBody": {
            "description": "organizationPermissionsDto",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrganizationPermissionsDto"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/OrganizationDto"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "organizationPermissionsDto"
        },
        "delete": {
          "tags": [
            "Organizations"
          ],
          "summary": "Delete Organization Permissions.",
          "operationId": "deleteOrganizationPermissionsByIdsUsingDELETE",
          "parameters": [
            {
              "name": "ids",
              "in": "query",
              "description": "ids",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "deprecated": false
        }
      },
      "/v1.1/organizations/permissions/{userId}": {
        "get": {
          "tags": [
            "Organizations"
          ],
          "summary": "Get all Organization permissions by user.",
          "operationId": "getOrganizationPermissionsForUserUsingGET",
          "parameters": [
            {
              "name": "userId",
              "in": "path",
              "description": "userId",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/OrganizationDto"
                  }
                }
              }
            }
          },
          "deprecated": false
        }
      },
      "/v1.1/product": {
        "get": {
          "tags": [
            "Product"
          ],
          "summary": "Retrieve product",
          "description": "Retrieve product",
          "operationId": "getProduct_V11UsingGET",
          "parameters": [
            {
              "name": "active",
              "in": "query",
              "description": "active",
              "allowEmptyValue": false,
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "mpn",
              "in": "query",
              "description": "mpn",
              "allowEmptyValue": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "productId",
              "in": "query",
              "description": "productId",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": 0
              }
            },
            {
              "name": "sku",
              "in": "query",
              "description": "sku",
              "allowEmptyValue": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "upc",
              "in": "query",
              "description": "upc",
              "allowEmptyValue": false,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/product"
                  }
                }
              }
            }
          },
          "deprecated": false
        }
      },
      "/v1.1/products": {
        "get": {
          "tags": [
            "Product"
          ],
          "summary": "Retrieve products",
          "description": "Retrieve products",
          "operationId": "getProductsV11UsingGET",
          "parameters": [
            {
              "name": "active",
              "in": "query",
              "description": "active",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "createdDateFrom",
              "in": "query",
              "description": "createdDateFrom",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "createdDateTo",
              "in": "query",
              "description": "createdDateTo",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "limit",
              "in": "query",
              "description": "limit",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 20
              }
            },
            {
              "name": "modifiedDateFrom",
              "in": "query",
              "description": "modifiedDateFrom",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "modifiedDateTo",
              "in": "query",
              "description": "modifiedDateTo",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "mpn",
              "in": "query",
              "description": "mpn (Note: performs a 'prefix' search; a wildcard will be automatically appended at the end)",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "page",
              "in": "query",
              "description": "page",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 1
              }
            },
            {
              "name": "productInvStatus",
              "in": "query",
              "description": "productInvStatus",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "UNCONFIGURED_STOCK"
                  ]
                },
                "enum": [
                  "UNCONFIGURED_STOCK"
                ]
              }
            },
            {
              "name": "sku",
              "in": "query",
              "description": "sku (Note: performs a 'prefix' search; a wildcard will be automatically appended at the end)",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "stockLocationId",
              "in": "query",
              "description": "stockLocationId",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": 0
              }
            },
            {
              "name": "upc",
              "in": "query",
              "description": "upc (Note: performs a 'prefix' search; a wildcard will be automatically appended at the end)",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "warehouseId",
              "in": "query",
              "description": "warehouseId",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": 0
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/product"
                    }
                  }
                }
              }
            }
          },
          "deprecated": false
        }
      },
      "/v1.1/products/bundles": {
        "put": {
          "tags": [
            "Product"
          ],
          "summary": "Create bundle products",
          "description": "Create bundle products",
          "operationId": "putProductBundlesUsingPUT",
          "requestBody": {
            "description": "bundleProducts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/putBundleProduct"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "bundleProducts"
        }
      },
      "/v1.1/products/cores": {
        "put": {
          "tags": [
            "Product"
          ],
          "summary": "Create core products",
          "description": "Create core products",
          "operationId": "putProductCoresUsingPUT",
          "requestBody": {
            "description": "coreProducts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/putCoreProduct"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "coreProducts"
        }
      },
      "/v1.1/products/customfielddefinitions": {
        "get": {
          "tags": [
            "Product"
          ],
          "summary": "Retrieve custom field definitions",
          "description": "Retrieve custom field definitions",
          "operationId": "getCustomFieldDefinitionsUsingGET_1",
          "parameters": [
            {
              "name": "limit",
              "in": "query",
              "description": "limit",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 20
              }
            },
            {
              "name": "page",
              "in": "query",
              "description": "page",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 1
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/getCustomFieldDef"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "put": {
          "tags": [
            "Product"
          ],
          "summary": "Create custom fields definitions",
          "description": "Create custom fields definitions",
          "operationId": "putCustomFieldDefinitionsUsingPUT_1",
          "requestBody": {
            "description": "putCustomFieldDefinitions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/putCustomFieldDefinitions"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "putCustomFieldDefinitions"
        },
        "delete": {
          "tags": [
            "Product"
          ],
          "summary": "Delete custom field definitions",
          "description": "Delete custom field definitions",
          "operationId": "deleteCustomFieldDefsUsingDELETE_1",
          "requestBody": {
            "description": "deleteCustomFieldDefs",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/deleteCustomFieldDefs"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/getCustomFieldDef"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "deleteCustomFieldDefs"
        }
      },
      "/v1.1/products/variations": {
        "put": {
          "tags": [
            "Product"
          ],
          "summary": "Create product variations",
          "description": "Create product variations",
          "operationId": "putProductVariationsUsingPUT",
          "requestBody": {
            "description": "productVariations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/putVariationProduct"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "productVariations"
        }
      },
      "/v1.1/products/virtuals": {
        "put": {
          "tags": [
            "Product"
          ],
          "summary": "Create virtual products",
          "description": "Create virtual products",
          "operationId": "putProductVirtualsUsingPUT",
          "requestBody": {
            "description": "virtualProducts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/putVirtualProduct"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "virtualProducts"
        }
      },
      "/v1.1/products/{productId}/customfieldvalues": {
        "get": {
          "tags": [
            "Product"
          ],
          "summary": "Retrieve custom field values",
          "description": "Retrieve custom field values",
          "operationId": "getCustomFieldValuesByProductIdUsingGET",
          "parameters": [
            {
              "name": "productId",
              "in": "path",
              "description": "productId",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/getCustomFieldValue"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "put": {
          "tags": [
            "Product"
          ],
          "summary": "Create custom field values",
          "description": "Create custom field values",
          "operationId": "putCustomFieldValuesUsingPUT_1",
          "parameters": [
            {
              "name": "productId",
              "in": "path",
              "description": "productId",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "requestBody": {
            "description": "putCustomFieldValues",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/putCustomFieldValues"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/getCustomFieldValue"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "putCustomFieldValues"
        },
        "delete": {
          "tags": [
            "Product"
          ],
          "summary": "Delete custom field values",
          "description": "Delete custom field values",
          "operationId": "deleteCustomFieldValuesUsingDELETE_1",
          "parameters": [
            {
              "name": "productId",
              "in": "path",
              "description": "productId",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "requestBody": {
            "description": "deleteCustomFieldValues",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/deleteCustomFieldValues"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/getCustomFieldValue"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "deleteCustomFieldValues"
        }
      },
      "/v1.1/productstocks/total": {
        "get": {
          "tags": [
            "Inventory"
          ],
          "summary": "Retrieve product stock totals",
          "description": "Retrieve products stock totals. This is the physical inventory count present (e.g. it does not include potentially buildable bundles or kits). In transit quantity does not include pending Purchase Orders.",
          "operationId": "getProductStocksTotalUsingGET_1",
          "parameters": [
            {
              "name": "inventoryOptions",
              "in": "query",
              "description": "inventoryOptions",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "COMPONENT_INVENTORY_ACROSS_WAREHOUSES",
                    "COMPONENT_INVENTORY"
                  ]
                },
                "enum": [
                  "COMPONENT_INVENTORY_ACROSS_WAREHOUSES",
                  "COMPONENT_INVENTORY"
                ]
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "limit",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 20
              }
            },
            {
              "name": "page",
              "in": "query",
              "description": "page",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 1
              }
            },
            {
              "name": "productId",
              "in": "query",
              "description": "productId",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            {
              "name": "salesChannelId",
              "in": "query",
              "description": "salesChannelId",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": 0
              }
            },
            {
              "name": "sku",
              "in": "query",
              "description": "sku",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "warehouseId",
              "in": "query",
              "description": "warehouseId",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": 0
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProductStockTotalsDto"
                    }
                  }
                }
              }
            }
          },
          "deprecated": false
        }
      },
      "/v1.1/purchaseorders": {
        "get": {
          "tags": [
            "Purchase Order"
          ],
          "summary": "Retrieve purchase orders",
          "description": "Retrieve purchase orders",
          "operationId": "getPurchaseOrdersUsingGET",
          "parameters": [
            {
              "name": "authorizedDateFrom",
              "in": "query",
              "description": "authorizedDateFrom",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "authorizedDateTo",
              "in": "query",
              "description": "authorizedDateTo",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "createdBy",
              "in": "query",
              "description": "createdBy",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "createdDateFrom",
              "in": "query",
              "description": "createdDateFrom",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "createdDateTo",
              "in": "query",
              "description": "createdDateTo",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "customPurchaseOrderNumber",
              "in": "query",
              "description": "customPurchaseOrderNumber",
              "allowEmptyValue": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "limit",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 20
              }
            },
            {
              "name": "modifiedDateFrom",
              "in": "query",
              "description": "modifiedDateFrom",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "modifiedDateTo",
              "in": "query",
              "description": "modifiedDateTo",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "page",
              "in": "query",
              "description": "page",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 1
              }
            },
            {
              "name": "productId",
              "in": "query",
              "description": "productId",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "productSku",
              "in": "query",
              "description": "productSku",
              "allowEmptyValue": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "purchaseOrderNumber",
              "in": "query",
              "description": "purchaseOrderNumber",
              "allowEmptyValue": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "status",
              "in": "query",
              "description": "status",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "AWAITING_AUTHORIZATION",
                    "AWAITING_VENDOR_CONFIRMATION",
                    "AWAITING_MODIFICATION_ACCEPTANCE",
                    "PENDING_DELIVERY",
                    "PARTIALLY_DELIVERED",
                    "FULFILLED",
                    "CLOSED_SHORT",
                    "VOIDED",
                    "CANCELLED"
                  ]
                },
                "enum": [
                  "AWAITING_AUTHORIZATION",
                  "AWAITING_VENDOR_CONFIRMATION",
                  "AWAITING_MODIFICATION_ACCEPTANCE",
                  "PENDING_DELIVERY",
                  "PARTIALLY_DELIVERED",
                  "FULFILLED",
                  "CLOSED_SHORT",
                  "VOIDED",
                  "CANCELLED"
                ]
              }
            },
            {
              "name": "vendorId",
              "in": "query",
              "description": "vendorId",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "vendorProductId",
              "in": "query",
              "description": "vendorProductId",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "vendorProductSku",
              "in": "query",
              "description": "vendorProductSku",
              "allowEmptyValue": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "warehouseIds",
              "in": "query",
              "description": "warehouseIds",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful retrieval of purchase orders",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/purchaseOrder"
                    }
                  }
                }
              }
            },
            "422": {
              "description": "Invalid parameter specified",
              "content": {}
            }
          },
          "deprecated": false
        },
        "post": {
          "tags": [
            "Purchase Order"
          ],
          "summary": "Edit purchase order",
          "description": "Edit purchase order",
          "operationId": "postPurchaseOrderUsingPOST",
          "requestBody": {
            "description": "postPurchaseOrderDto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/postPurchaseOrder"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "POST successful",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/purchaseOrder"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "postPurchaseOrderDto"
        }
      },
      "/v1.1/purchaseorders/{purchaseOrderId}": {
        "get": {
          "tags": [
            "Purchase Order"
          ],
          "summary": "Retrieve purchase order",
          "description": "Retrieve a purchase order by its identifier",
          "operationId": "getPurchaseOrderUsingGET",
          "parameters": [
            {
              "name": "purchaseOrderId",
              "in": "path",
              "description": "purchaseOrderId",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": 0
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful retrieval of purchase order",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/purchaseOrder"
                  }
                }
              }
            },
            "404": {
              "description": "Purchase order not found",
              "content": {}
            }
          },
          "deprecated": false
        }
      },
      "/v1.1/purchaseorders/{purchaseOrderId}/othercosts": {
        "put": {
          "tags": [
            "Purchase Order"
          ],
          "summary": "PUT purchase order other costs",
          "description": "Fully override all purchase order other costs",
          "operationId": "putPurchaseOrderOtherCostsUsingPUT",
          "parameters": [
            {
              "name": "purchaseOrderId",
              "in": "query",
              "description": "purchaseOrderId",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "requestBody": {
            "description": "putPurchaseOrderOtherCostsDto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/putPurchaseOrderOtherCosts"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "PUT successful",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/purchaseOrder"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "putPurchaseOrderOtherCostsDto"
        }
      },
      "/v1.1/purchaseorders/{purchaseOrderId}/vendormessages": {
        "post": {
          "tags": [
            "Purchase Order"
          ],
          "summary": "POST to vendor message",
          "description": "Add a to vendor message",
          "operationId": "postToVendorMessageUsingPOST",
          "parameters": [
            {
              "name": "purchaseOrderId",
              "in": "path",
              "description": "purchaseOrderId",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "toVendorMessage",
              "in": "query",
              "description": "toVendorMessage",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "POST successful",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SingleIdResponse"
                  }
                }
              }
            }
          },
          "deprecated": false
        }
      },
      "/v1.1/shipment/external": {
        "put": {
          "tags": [
            "Shipment"
          ],
          "summary": "Create external shipment",
          "description": "Create an external shipment",
          "operationId": "putExternalShipmentUsingPUT_1",
          "requestBody": {
            "description": "externalShipment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/externalShipment"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/batchedOrder"
                    }
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "externalShipment"
        }
      },
      "/v1.1/shipment/standard": {
        "put": {
          "tags": [
            "Shipment"
          ],
          "summary": "Create standard shipment",
          "description": "Create a standard shipment",
          "operationId": "putShipmentUsingPUT_1",
          "requestBody": {
            "description": "standardShipment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/standardShipment"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "standardShipment"
        }
      },
      "/v1.2/inventory": {
        "post": {
          "tags": [
            "Inventory"
          ],
          "summary": "Update stock location attributes",
          "operationId": "postInventoryUsingPOST",
          "requestBody": {
            "description": "postInventoryDto",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PostInventoryDto"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "postInventoryDto"
        }
      },
      "/v1.2/inventory/acknowledge": {
        "post": {
          "tags": [
            "Inventory"
          ],
          "summary": "Retrieve inventory updates",
          "description": "Retrieve recently modified inventory values for listings for the specified sales channel (must be MANUAL or CUSTOM type).",
          "operationId": "postInventoryAcknowledgev12UsingPOST",
          "parameters": [
            {
              "name": "fromDate",
              "in": "query",
              "description": "fromDate",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "limit",
              "in": "query",
              "description": "limit",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 500
              }
            },
            {
              "name": "page",
              "in": "query",
              "description": "page",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 1
              }
            },
            {
              "name": "salesChannelId",
              "in": "query",
              "description": "salesChannelId",
              "required": true,
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "toDate",
              "in": "query",
              "description": "toDate",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/InventoryAcknowledgeDto"
                    }
                  }
                }
              }
            }
          },
          "deprecated": false
        }
      },
      "/v1/analytics/accounting/cogsbysaleschannels": {
        "get": {
          "tags": [
            "Analytics"
          ],
          "summary": "Retrieve COGS",
          "description": "Retrieve the Costs Of Goods Sold for the given sales channels and period of time. <br/><br/>Values are updated every hour",
          "operationId": "getCogsBySalesChannelsUsingGET",
          "parameters": [
            {
              "name": "endDate",
              "in": "query",
              "description": "endDate",
              "required": true,
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "salesChannelIds",
              "in": "query",
              "description": "salesChannelIds",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            {
              "name": "startDate",
              "in": "query",
              "description": "startDate",
              "required": true,
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful retrieval of cogs by sales channel",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/customCogsBySalesChannel"
                  }
                }
              }
            },
            "404": {
              "description": "Unable to retrieve cogs by sales channel",
              "content": {}
            }
          },
          "deprecated": false
        }
      },
      "/v1/analytics/accounting/salessummary": {
        "get": {
          "tags": [
            "Analytics"
          ],
          "summary": "Retrieve a sales summary",
          "description": "Retrieve the sales summary for the given sales channels and period of time.",
          "operationId": "getSalesSummaryUsingGET",
          "parameters": [
            {
              "name": "endDate",
              "in": "query",
              "description": "endDate",
              "required": true,
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "salesChannelIds",
              "in": "query",
              "description": "salesChannelIds",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            {
              "name": "startDate",
              "in": "query",
              "description": "startDate",
              "required": true,
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful retrieval of sales summary",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/salesSummary"
                  }
                }
              }
            },
            "404": {
              "description": "Unable to retrieve sales summary",
              "content": {}
            }
          },
          "deprecated": false
        }
      },
      "/v1/analytics/cogs/{warehouseId}/current": {
        "get": {
          "tags": [
            "Analytics"
          ],
          "summary": "Retrieve product current costs by warehouse",
          "description": "Retrieve product current costs by warehouse.<br/><p>costType has 3 possible values:</p><ol><li><strong>PO_FIFO_QUEUE</strong>: This is the main costType; it has precedence over the 2 other ones. Every time an order is shipped, a unit is deducted from the oldest purchase order with available units. Once there are no more units available from the PO_FIFO_QUEUE costType, The cost will be fetched from the VENDOR_PRODUCT costType.<br /><br /></li><li><strong>VENDOR_PRODUCT</strong>: This is the cost coming from the oldest default vendor product's pricing tiers.<strong><br /><br /></strong></li><li><strong>DEFAULT_VENDOR_COST</strong>: This is the last resort costType; if no PO_FIFO_QUEUE and no VENDOR_PRODUCT costTypes are present the cost will be fetched from DEFAULT_VENDOR_COST<br /><br /></li></ol>",
          "operationId": "getProductCostsCurrentUsingGET",
          "parameters": [
            {
              "name": "listingSkus",
              "in": "query",
              "description": "listingSkus",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "masterSkus",
              "in": "query",
              "description": "masterSkus",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "productIds",
              "in": "query",
              "description": "productIds",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            {
              "name": "salesChannelId",
              "in": "query",
              "description": "salesChannelId",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 0
              }
            },
            {
              "name": "warehouseId",
              "in": "path",
              "description": "warehouseId",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful retrieval of the current product cost",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/productCostDto"
                    }
                  }
                }
              }
            },
            "404": {
              "description": "No warehouse found with the given id",
              "content": {}
            },
            "422": {
              "description": "Invalid parameter specified",
              "content": {}
            }
          },
          "deprecated": false
        }
      },
      "/v1/apps/properties": {
        "get": {
          "tags": [
            "Application Properties"
          ],
          "summary": "Retrieve all application properties",
          "operationId": "listAppPropertiesUsingGET",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CompanyAppPropertyDto"
                    }
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "post": {
          "tags": [
            "Application Properties"
          ],
          "summary": "Create application properties",
          "operationId": "addAppPropertyUsingPOST",
          "requestBody": {
            "description": "applicationProperties",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PostProperties"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CompanyAppPropertyDto"
                    }
                  }
                }
              }
            }
          },
          "deprecated": false,
          "x-codegen-request-body-name": "applicationProperties"
        }
      },
      "/v1/apps/properties/{propertyId}": {
        "delete": {
          "tags": [
            "Application Properties"
          ],
          "summary": "Delete an application property",
          "operationId": "removeAppPropertyUsingDELETE",
          "parameters": [
            {
              "name": "propertyId",
              "in": "path",
              "description": "propertyId",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": 0
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SingleIdResponse"
                  }
                }
              }
            }
          },
          "deprecated": false
        }
      },
      "/v1/companyinfo": {
        "get": {
          "tags": [
            "Global"
          ],
          "summary": "Retrieve company info",
          "operationId": "getCompanyInfoUsingGET",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/companyInfo"
                  }
                }
              }
            }
          },
          "deprecated": false
        }
      },
      "/v1/incotermshiprules": {
        "get": {
          "tags": [
            "Global"
          ],
          "summary": "List incoterm shipping rules",
          "description": "Used for some Purchase Order and Vendor operations.",
          "operationId": "getIncotermShippingRulesUsingGET",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/incotermShippingRule"
                    }
                  }
                }
              }
            }
          },
          "deprecated": false
        }
      },
      "/v1/inventory": {
        "get": {
          "tags": [
            "Inventory"
          ],
          "summary": "Retrieve product stocks",
          "description": "Retrieve products stocks including stock location",
          "operationId": "getInventoryUsingGET",
          "parameters": [
            {
              "name": "createdFromDate",
              "in": "query",
              "description": "createdFromDate",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "createdToDate",
              "in": "query",
              "description": "createdToDate",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "includeBundledItems",
              "in": "query",
              "description": "includeBundledItems",
              "allowEmptyValue": false,
              "schema": {
                "type": "boolean",
                "default": true
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "limit",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 20
              }
            },
            {
              "name": "page",
              "in": "query",
              "description": "page",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 1
              }
            },
            {
              "name": "productId",
              "in": "query",
              "description": "productId",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            {
              "name": "sku",
              "in": "query",
              "description": "sku (Note: performs a 'prefix' search; a wildcard will be automatically appended at the end)",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "stockLocationName",
              "in": "query",
              "description": "stockLocationName",
              "allowEmptyValue": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "warehouseId",
              "in": "query",
              "description": "warehouseId",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int64",
                "default": 0
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/productStock"
                    }
                  }
                }
              }
            }
          },
          "deprecated": false
        }
      },
      "/v1/inventory/fba": {
        "get": {
          "tags": [
            "Inventory"
          ],
          "summary": "Retrieve FBA inventory",
          "description": "Retrieve the product's FBA inventory; one of either productId or sku is required",
          "operationId": "getFbaInventoryUsingGET",
          "parameters": [
            {
              "name": "limit",
              "in": "query",
              "description": "limit",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 100
              }
            },
            {
              "name": "page",
              "in": "query",
              "description": "page",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 1
              }
            },
            {
              "name": "productId",
              "in": "query",
              "description": "productId",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "sku",
              "in": "query",
              "description": "sku",
              "allowEmptyValue": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "warehouseId",
              "in": "query",
              "description": "warehouseId",
              "required": true,
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/FbaInventoryDto"
                    }
                  }
                }
              }
            }
          },
          "deprecated": false
        }
      },
      "/v1/inventory/fbainbound": {
        "get": {
          "tags": [
            "FBA Inbound"
          ],
          "summary": "Retrieve FBA Inbound transfers",
          "description": "Retrieve FBA Inbound transfers. Use the internalOnly parameter to filter for inbound shipments created using Order Manager.",
          "operationId": "getFbaInboundTransfersUsingGET",
          "parameters": [
            {
              "name": "createdDateFrom",
              "in": "query",
              "description": "createdDateFrom",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "createdDateTo",
              "in": "query",
              "description": "createdDateTo",
              "allowEmptyValue": false,
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2015-12-31T12:00:00Z"
            },
            {
              "name": "destinationWarehouseId",
              "in": "query",
              "description": "destinationWarehouseId",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            {
              "name": "internalOnly",
              "in": "query",
              "description": "internalOnly",
              "schema": {
                "type": "boolean",
                "default": false
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "limit",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 100
              }
            },
            {
              "name": "orderId",
              "in": "query",
              "description": "orderId",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            {
              "name": "page",
              "in": "query",
              "description": "page",
              "allowEmptyValue": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 1
              }
            },
            {
              "name": "searchString",
              "in": "query",
              "description": "searchString",
              "allowEmptyValue": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sourceWarehouseId",
              "in": "query",
              "description": "sourceWarehouseId",
              "allowEmptyValue": false,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
[...]
